h1{
    color: #4e2e79;
    display: grid;
    justify-items: center;
    justify-content: center;
}

.divisaoSobre{
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-template-areas: "l r";
    justify-items: center;
    justify-content: center;
}

.SobreLeft{
    padding: 2vh;
    width: 100%;
    height: 100%;
    grid-area: l;
    background-color: #ffecff;
    display: grid;
    justify-items: center;
    justify-content: center;
}

.SobreRight{
    padding: 2vh;
    width: 100%;
    grid-area: r;
    background-color: #ffecff;
    display: grid;
    justify-items: center;
    justify-content: center;
}

.divisaoSobre2{
    width: 100%;
    display: flex;
    margin-left: 19%;
}

p{
    width: 90%;
    display: grid;
    justify-items: left;
    justify-content: left;
    color: #342b48;
}

main{
    background-color: #ffecff;
}

.mapa{
    margin-left: 17%;
}

a > img{
    width: 25%;
}

body{
    display: grid;
    grid-template: 10vh calc(100% - 20vh) 20vh / 1fr 3fr 1fr;
    grid-template-areas: "h h h" "l c r" "f f f";
}