header nav{
    height: 100%;
    background-color: red;
    display: grid;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-around;
}

header nav ul li{
    padding: 3px;
    border: 2.5px solid black;
    border-bottom-left-radius: 10px;
}

a{
    text-decoration: none;
    color: black;
}