.nav{
    color: #342b48;
    background-color: #d8bbf5;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr calc(10vh - 3px);
    grid-template-areas: "n l";
}

.login{
    grid-area: l;
    display: grid;
    place-content: center;
    place-items: center;
}

#circle{
    border: 1px solid #804db9;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: #d3d3d3;
    display: grid;
    place-items: center;
}

#imgLogNav{
    border: 0;
    padding: 0;
    margin: 0;
}


header nav{
    grid-area: n;
    height: 100%;
    display: grid;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-around;
}

header nav ul li{
    padding: 3px;
    border: 1px solid #804db9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

a{
    text-decoration: none;
    color: #342b48;
}