.btn{
    width: 10vw;
    height: 10vh;
    font-weight: bolder;
    background-color: #f3a0ee;
    cursor:pointer;
    color: #342b48;
}

main{
    background-color: #ffecff;
    display: grid;
    place-content: center;
    place-items: center;
    color: #342b48;
}

hr{
    border: 1px solid #342b48;;
    width: 100%;
}