.divisaoCardapio{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-template-areas: "l r";
    justify-items: center;
    justify-content: center;
}

.cardapioLeft{
    padding: 2vh;
    width: calc(100% - 4vh);
    height: 100%;
    grid-area: l;
    background-color: #ffecff;
    display: grid;
    justify-items: center;
    justify-content: center;
}

.cardapioRight{
    padding: 2vh;
    width: calc(100% - 4vh);
    height: 100%;
    grid-area: r;
    background-color: #ffecff;
    display: grid;
    justify-items: center;
    justify-content: center;
}

p{
    width: 90%;
    color: #342b48;
}

h4{
    color: #4e2e79;
}

h1{
    color: #4e2e79;
    display: grid;
    justify-items: center;
    justify-content: center;
}

main{
    background-color: #ffecff;
}

body{
    display: grid;
    grid-template: 10vh calc(100% - 30vh) 20vh / 1fr 3fr 1fr;
    grid-template-areas: "h h h" "l c r" "f f f";
}

#copy{
    color: #d8bbf5;
}