main{
    background-color: #ffecff;
}

.home{
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template: 1fr 1fr/ 1fr;
    grid-template-areas: "p" "c";
    justify-items: center;
    justify-content: center; */
}

.logo{
    grid-area: p;
    display: grid;
    justify-items: center;
    justify-content: center;
}

#logo{
    margin-top: 10%;
    width: 100%;
}

/* .mural1{
    grid-area: l;
    display: grid;
    justify-items: center;
    justify-content: center;
}

#mural1{
    width: 80%;
}

.mural2{
    grid-area: r;
    display: grid;
    justify-items: center;
    justify-content: center
}

#mural2{
    width: 80%;
} */

.textoHome{
    grid-area: c;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

h2{
    color: #4e2e79;
}

h3{
    color: #4e2e79;
}

p{
    color: #342b48;
}

#divPropaganda{
    padding: 0;
    margin: 0;
    border: 0;
    width: calc(100%-2px);
    height: 100%;
    background-color: #ffecff;
} 

#divPropaganda > #promocao{
    padding: 0;
    margin: 0;
    border: 0;
    height: 90vh;
    width: auto;
}