main{
    background-color: #ffecff;
}

.home{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
    grid-template-areas: "p p" "l r" "l r";
    justify-items: center;
    justify-content: center;
}

.logo{
    grid-area: p;
    display: grid;
    justify-items: center;
    justify-content: center;
}

#logo{
    width: 80%;
}

.mural1{
    grid-area: l;
    display: grid;
    justify-items: center;
    justify-content: center;
}

#mural1{
    width: 60%;
}

.mural2{
    grid-area: r;
    display: grid;
    justify-items: center;
    justify-content: center
}

#mural2{
    width: 60%;
}

#divPropaganda{
    padding: 0;
    margin: 0;
    border: 0;
    width: calc(100%-2px);
    height: 100%;
    background-color: #ffecff;
} 

#divPropaganda > #promocao{
    padding: 0;
    margin: 0;
    border: 0;
    height: 90vh;
    width: auto;
}